Node-RED Flows/FastClock Display
[{"id":"139759de.d66806","type":"tab","label":"Analog and Digital Rail Clocks","disabled":false,"info":""},{"id":"8d6d34e5.0b82d8","type":"mqtt in","z":"139759de.d66806","name":"FastClock Timestamp","topic":"FastClock","qos":"2","broker":"5bc7cc44.39f4b4","x":157.7777862548828,"y":160.00000190734863,"wires":[["6af55d59.7294d4"]]},{"id":"21f14ad1.2db0d6","type":"debug","z":"139759de.d66806","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":897.7777633666992,"y":157.77779006958008,"wires":[]},{"id":"586d3639.20deb8","type":"ui_template","z":"139759de.d66806","group":"f4d8a839.c19718","name":"Analog Clock Display","order":1,"width":"0","height":"0","format":"<!-- https://css-tricks.com/css3-clock/ -->\n<style>\n    #clock {\n        position: relative;\n        width: 580px;\n        height: 600px;\n        margin: 10px auto 0 auto;\n        background: url(/CSS3Clock/images/clockface.jpg);\n        list-style: none;\n    }\n    \n    #sec, #min, #hour {\n        position: absolute;\n        width: 30px;\n        height: 600px;\n        top: 0px;\n        left: 285px;\n    }\n    \n    #sec {\n        background: url(/CSS3Clock/images/sechand.png);\n        z-index: 3;\n    }\n       \n    #min {\n        background: url(/CSS3Clock/images/minhand.png);\n        z-index: 2;\n    }\n       \n    #hour {\n        background: url(/CSS3Clock/images/hourhand.png);\n        z-index: 1;\n    }\n</style>\n\n<ul id=\"clock\">\t\n    <li id=\"sec\"></li>\n    <li id=\"hour\"></li>\n    <li id=\"min\"></li>\n</ul>\n\n<script>\n\n    var myTime = new Date();\n    \n    $(function() {\n \n        setInterval( function() {\n            var seconds = myTime.getSeconds();\n            var sdegree = seconds * 6;\n            var srotate = \"rotate(\" + sdegree + \"deg)\";\n            \n            $(\"#sec\").css({ \"transform\": srotate });\n          \n        }, 1000 );\n        \n        setInterval( function() {\n            var hours = myTime.getHours();\n            var mins = myTime.getMinutes();\n            var hdegree = hours * 30 + (mins / 2);\n            var hrotate = \"rotate(\" + hdegree + \"deg)\";\n            \n            $(\"#hour\").css({ \"transform\": hrotate});\n          \n        }, 1000 );\n        \n        setInterval( function() {\n            var mins = myTime.getMinutes();\n            var mdegree = mins * 6;\n            var mrotate = \"rotate(\" + mdegree + \"deg)\";\n            \n            $(\"#min\").css({ \"transform\" : mrotate });\n          \n        }, 1000 );\n \n});\n\n(function(scope){\n    scope.$watch('msg', function(msg) {\n        myTime = new Date(parseInt(msg.payload.Time) * 1000);\n             \n    });\n})(scope);\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":599.7777709960938,"y":125.77778625488281,"wires":[["21f14ad1.2db0d6"]]},{"id":"5dedfdc8.7204f4","type":"ui_template","z":"139759de.d66806","group":"6e241d37.cc5bd4","name":"Digial Clock Display","order":1,"width":"0","height":"0","format":"<script>\n    var myTime = new Date();\n    var daylist = [\"SUN\", \"MON\", \"TUE\", \"WED\", \"THU\", \"FRI\", \"SAT\"];\n\n//scope function to receive MQTT messages\n    (function(scope){ \n            scope.$watch('msg', function(msg) {\n                myTime = new Date(parseInt(msg.payload.Time) * 1000);\n            });\n    })(scope);\n\n    function genTimerStrings(tm, num){\n    \n    \tvar i;\n    \tvar ret = tm.toString(10);\n    \tvar left = ret.length;\n    \n    \tif( left < num){\n    \t\tfor(i=0; i<( num - left ); i++ ){\n    \t\t\tret = String(0) + ret;\n    \t\t}\n    \t}\n    \treturn ret;\n    }\n\n    function updateTimer(){\n    \tvar ret;\n    \tvar tm_year, tm_mon, tm_date, tm_hour, tm_min, tm_sec, tm_msec,tm_day;\n    \tvar colon;\n    \ttm_year = myTime.getFullYear();\n    \ttm_mon = myTime.getMonth()+1;\n    \ttm_date = myTime.getDate();\n    \ttm_day = myTime.getDay();\n    \ttm_hour = myTime.getHours();\n    \ttm_min = myTime.getMinutes();\n    \ttm_sec = myTime.getSeconds();\n    \ttm_msec = myTime.getMilliseconds();\n    \n    \ttm_mon = genTimerStrings(tm_mon, 2);\n    \ttm_date = genTimerStrings(tm_date, 2);\n    \ttm_hour = genTimerStrings(tm_hour, 2);\n    \ttm_min = genTimerStrings(tm_min, 2);\n    \ttm_sec = genTimerStrings(tm_sec, 2);\n    \ttm_day = daylist[tm_day];\n    \n    \tif( tm_msec > 499 ){\n    \t\tcolon = ' ';\n    \t}else{\n    \t\tcolon = ':';\n    \t}\n    \n    \tdocument.getElementById(\"DSEGClock\").innerHTML = tm_hour + colon + tm_min + colon + tm_sec;\n    \tdocument.getElementById(\"DSEGClock-Year\").innerHTML = \"<span class=\\\"D7MI\\\">\" + tm_day + \" \" + tm_mon + \"/\" + tm_date + '/' + \"</span><span class=\\\"D7MI\\\">\" + tm_year  +  \"</span>\";\n    \n    \tsetTimeout(\"updateTimer()\", 1000);\n    }\n\n    updateTimer();\n    \n</script>\n\n<style type=\"text/css\">\n.lcdClock {\n\tbackground-color:#fbfbfb;\n\tfont-size:80%;\n\tpadding-left:10px;\n\tpadding-right:10px;\n\tpadding-bottom:10px;\n\tmax-width:200px;\n\tleft:35px;\n\tline-height:160%;\n\tcolor:#222;\n\tfont-family:Meiryo, 'Lucida Grande','Hiragino Kaku Gothic ProN', sans-serif;\n}\n\n@font-face {\n  font-family: \"D7MI\"; \n  src: url(\"/myfonts/DSEG7Modern-Italic.woff\") format('woff');\n}\n \n@font-face {\n  font-family: \"D14MI\";\n  src: url(\"/myfonts/DSEG14Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D7MBI\";\n  src: url(\"/myfonts/DSEG7Modern-BoldItalic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"DWEATHER\";\n  src: url(\"/myfonts/DSEGWeather.woff\") format('woff');\n}\n\n.Weather-Background{\n\tz-index:50;\n\tposition:absolute;\n\ttop:24px;\n\tleft:226px;\n\tfont-size:68px;\n}\n\n.Weather-Front{\n\tz-index:51;\n\tposition:absolute;\n\ttop:24px;\n\tleft:226px;\n\tfont-size:68px;\n}\n\n.D7MI {\nfont-family: \"D7MI\";\n}\n\n.D7MBI {\nfont-family: \"D7MBI\";\n}\n\n.D14MI {\nfont-family: \"D14MI\";\n}\n\n.DWEATHER {\nfont-family: \"DWEATHER\";\nfont-size:68px;\nheight:68px;\n}\n\n.Clock-Wrapper{\n\tposition:relative;\n\tborder:6px solid #000;\n\tborder-radius:9px;\n\theight:68px;\n\twidth:280px;\n//\tbackground-color:#fb7c00;\n\tbackground-color:#66ac66;\n\tbox-shadow: 4px 4px 28px 0px rgba(0,0,0,0.3) inset; \n}\n\n.Clock-Time-Background{\n\tz-index:50;\n}\n\n.Clock-Time-Front{\n\tz-index:51;\n}\n\n.Clock-Time-Background,.Clock-Time-Front {\n   \tposition:absolute;\n\ttop:38px;\n\tleft:5px; \n\tfont-size:35px;\n}\n\n.background { color:rgba(0,0,0,0.1); }\n\n.Clock-Year-Background{\n\tz-index:50;\n\tfont-size:18px;\n}\n\n.Clock-Year-Front{\n\tz-index:51;\n}\n\n.Clock-Year-Background,.Clock-Year-Front {\n   \tposition:absolute;\n\ttop:2px;\n\tleft:5px; \n\tfont-size:18px;\n}\n\n.temp { z-index:51; }\n.tempBack { z-index:50; color:rgba(0,0,0,0.1); }\n.temp,.tempBack {\n   \tposition:absolute;\n\ttop:28px;\n\tleft:210px; \n\tfont-size:42px;\n}\n\n.tempc { z-index:51; }\n.tempcBack { z-index:50;  }\n.tempc,.tempcBack {\n   \tposition:absolute;\n\ttop:36px;\n\tleft:278px; \n\tfont-size:24px;\n}\n\n#DSEG7_OUTPUT{\n\tfont-family: \"D7MI\";\n}\n\n#DSEG14_OUTPUT{\n\tfont-family: \"D14MI\";\n}\n\n#DSEG14_OUTPUT, #DSEG7_OUTPUT{\n\tfont-size:18px;\n\tmargin-top:2px;\n\tmargin-bottom:10px;\n}\n\n</style>\n\n\n<div class=\"Clock-Wrapper center lcdClock\">\n\t<span class=\"Clock-Time-Background background  D7MBI\">88:88:88</span>\n\t<span id=\"DSEGClock\" class=\"Clock-Time-Front D7MBI\"></span>\n\t<span class=\"Clock-Year-Background background\"><span class=\"D14MI\">~~~ </span><span class=\"D7MI\">88/88/8888</span></span>\n\t<span id=\"DSEGClock-Year\" class=\"Clock-Year-Front \"></span>\n\t\n</div>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":599.5555419921875,"y":185.77777099609375,"wires":[["21f14ad1.2db0d6"]]},{"id":"6af55d59.7294d4","type":"json","z":"139759de.d66806","name":"","property":"payload","action":"","pretty":false,"x":356.5555725097656,"y":159.5416717529297,"wires":[["586d3639.20deb8","5dedfdc8.7204f4"]]},{"id":"5bc7cc44.39f4b4","type":"mqtt-broker","z":"","name":"","broker":"192.168.87.52","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f4d8a839.c19718","type":"ui_group","z":"","name":"Trainstation Clock","tab":"3caa44aa.e516ac","disp":true,"width":"12","collapse":false},{"id":"6e241d37.cc5bd4","type":"ui_group","z":"","name":"Fast Clock","tab":"a197e5cf.e4c638","order":2,"disp":true,"width":"6","collapse":false},{"id":"3caa44aa.e516ac","type":"ui_tab","z":"","name":"Clock","icon":"dashboard","order":4},{"id":"a197e5cf.e4c638","type":"ui_tab","z":"","name":"FastClock","icon":"dashboard","order":3}]
