Node-RED Flows/FastClock Generator
[{"id":"3ba12bb5.481364","type":"tab","label":"LocoNet FastClock","disabled":false,"info":""},{"id":"27de8629.659b7a","type":"mqtt in","z":"3ba12bb5.481364","name":"","topic":"lnIn","qos":"1","broker":"5bc7cc44.39f4b4","x":109,"y":635.5552978515625,"wires":[["94494362.2e862"]]},{"id":"94494362.2e862","type":"json","z":"3ba12bb5.481364","name":"","property":"payload","action":"obj","pretty":false,"x":277,"y":635.2220458984375,"wires":[["9829b42.4711148"]]},{"id":"9829b42.4711148","type":"function","z":"3ba12bb5.481364","name":"Fast Clock Listener","func":"//here we monitor LocoNet for external FC sources\n//if an update is received, Generator is triggered to override it\nvar retMsg = null;\nif ((msg.payload.From !== \"FCGenerator\"))\n{\n    var res = msg.payload.Data.length;\n    var myNumber = (parseInt(msg.payload.Data[0]) << 8) + parseInt(msg.payload.Data[1]);\n    switch(myNumber)\n    {\n        case 0xEF0E : //SL_WR_DATA\n            {\n                var slotNr = parseInt(msg.payload.Data[2]);\n                if (slotNr == 0x7B)  //FC Slot\n                {\n                    retMsg = {payload : undefined};\n                }\n                break;\n            }\n        default: \n            {\n                break;\n            }\n    }\n}\nreturn retMsg;\n","outputs":1,"noerr":0,"x":467,"y":634.5552978515625,"wires":[["6eda2f7d.edd0f"]]},{"id":"5078cc25.797e34","type":"ui_numeric","z":"3ba12bb5.481364","name":"Clock Rate","label":"Clock Rate","group":"ce6838aa.618ae8","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"127","step":1,"x":138.2222671508789,"y":83.44446086883545,"wires":[["92d24e84.b7cfe"]]},{"id":"7b4db25d.72a17c","type":"inject","z":"3ba12bb5.481364","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":152.88890287611218,"y":447.66653537750244,"wires":[["6eda2f7d.edd0f"]]},{"id":"6eda2f7d.edd0f","type":"function","z":"3ba12bb5.481364","name":"Fast Clock Generator","func":"//create LocoNet JSON\nfunction createJSON(fromData)\n{\n    var retStr = \"{\\\"From\\\":\\\"FCGenerator\\\", \\\"Valid\\\":1, \\\"Data\\\":[\";\n    var xorCode = 0;\n    for (i = 0; i < fromData.length; i++)\n    {\n        var byteCode = parseInt(fromData[i]);\n        retStr = retStr + byteCode.toString() + \",\"\n        xorCode = xorCode ^ byteCode;\n    }\n    xorCode = xorCode ^ 0xFF;\n    retStr = retStr + xorCode.toString() + \"]}\";\n    return retStr;\n}\n\n//create correct slot values, then create JSON message for LocoNet\nfunction sendSlotUpdate()\n{\n    var data= [0xEF,0x0E,0x7B,0x00,0x00,0x00,0x00,0x00,0x00,0x00,0x40,0x7F,0x7F];\n    if (clStatus === false)\n        data[3] = clRate & 0x007F;\n    else\n        data[3] = 0;\n    var fracs = 0x3FFF - 915 + (15 * clDate.getSeconds());\n    data[4] = fracs & 0x007F;\n    data[5] = (fracs & 0x7F80) >>> 7;\n    data[6] = 127 - 59 + clDate.getMinutes();\n    data[8] = 127 - 23 + clDate.getHours();\n    data[9] = clDate.getDate();\n    return createJSON(data);\n}\n\nvar lnMsg = null;\nvar fcMsg = null;\nvar needLNUpdate = false;\n\n//read the time of the last LocoNet update\nvar updateLocoNetTimer = context.get(\"lastFCUpdate\");\nif (updateLocoNetTimer === undefined) \n{\n    updateLocoNetTimer = new Date();\n    context.set(\"lastFCUpdate\", updateLocoNetTimer);\n    needLNUpdate = true;\n}\n\n//check if LocoNet FastClock should be updated, every 70 seconds\nvar currTime = new Date();\nif ((currTime.getTime() - updateLocoNetTimer.getTime()) > 70000)\n{\n    needLNUpdate = true;\n}\n\n//read FC Clock Rate, set to 4 if invalid\nvar clRate = flow.get(\"fastClockRate\");\nif (clRate === undefined) \n{\n    clRate = 4;\n    flow.set(\"fastClockRate\", clRate);\n}\n\n//read last FastClock Time/Date value, set to current if invalid\nvar clDate = flow.get(\"fastClockDate\");\nif (clDate === undefined) \n{\n    clDate = new Date();\n    flow.set(\"fastClockDate\", clDate);\n}\n\n//read FREEZE status, set to TRUE if invalid\nvar clStatus = flow.get(\"fastClockStatus\");\nif (clStatus === undefined) \n{\n  flow.set(\"fastClockStatus\", true);\n  clStatus = true;\n}\n\n//in case the clock is running and triggered by timestamp\n//calculate new date/time value by adding clockrate seconds\n//store new value\nif ((clStatus === false) && (msg.payload !== undefined))\n{\n    clDate.setSeconds(clDate.getSeconds() + clRate);\n    flow.set(\"fastClockDate\", clDate);\n}\n\n//create topic for LAN ticker\n//time format is UNIX date/time string\nfcMsg = {payload: {\"Freeze\":clStatus, \"Rate\":clRate, \"Time\":Math.floor(clDate.getTime() / 1000)}}\n\n//if triggered by setup or 70sec timeout\n//create LocoNet message\n//and set time of last sent message\nif ((msg.payload === undefined) || (needLNUpdate === true))\n{\n    lnMsg = {payload:sendSlotUpdate()};\n    updateLocoNetTimer = new Date();\n    context.set(\"lastFCUpdate\", updateLocoNetTimer);\n}\n\n//send LAN and LocoNet messages as needed    \nreturn [fcMsg, lnMsg];","outputs":2,"noerr":0,"x":909.5555419921875,"y":444.555419921875,"wires":[["2233692a.2a27b6","bcb26c8e.f8148"],["bb52f89f.a03ce8","bcb26c8e.f8148"]]},{"id":"bcb26c8e.f8148","type":"debug","z":"3ba12bb5.481364","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1216.99995803833,"y":552.5554265975952,"wires":[]},{"id":"92d24e84.b7cfe","type":"function","z":"3ba12bb5.481364","name":"Clock Rate Value Storage","func":"flow.set(\"fastClockRate\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":522.888916015625,"y":83.00000762939453,"wires":[["c3a41672.5941f8","5fb10d32.b4aca4"]]},{"id":"2233692a.2a27b6","type":"mqtt out","z":"3ba12bb5.481364","name":"FastClock Time Stamp","topic":"FastClock","qos":"1","retain":"","broker":"5bc7cc44.39f4b4","x":1238.111042022705,"y":408.5554265975952,"wires":[]},{"id":"8bc8320a.4bc6e","type":"function","z":"3ba12bb5.481364","name":"","func":"msg.payload =!msg.payload; \nflow.set(\"fastClockStatus\", msg.payload);\nreturn msg;\n","outputs":1,"noerr":0,"x":159.00006866455078,"y":293.44440269470215,"wires":[["40b361aa.a08d8","5fb10d32.b4aca4","c8a22a67.570e38"]]},{"id":"40b361aa.a08d8","type":"ui_template","z":"3ba12bb5.481364","group":"6e241d37.cc5bd4","name":"STOP Button","order":2,"width":"0","height":"0","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#FFFFFF\" ng-click=\"send({payload: msg.payload })\"> \n\n\n<svg  width=\"260px\" height=\"90px\" version=\"1.1\" viewBox=\"0 0 800 200\">\n <g id=\"Button_Long\">\n  \n  <rect fill=\"#FFFFFF\" width=\"800\" height=\"200\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) ? 'lime' : 'red'}\">\n    <rect width=\"800\" height=\"200\" rx=\"80\" ry=\"80\"/>\n  </g>\n  \n  <g ng-style=\"{fill: (msg.payload || 0) ? 'lime' : 'red'}\">\n    <rect x=\"11\" y=\"10\" width=\"778\" height=\"180\" rx=\"90\" ry=\"90\"/>\n  </g>\n  <g ng-style=\"{fill: (msg.payload || 0) ? 'black' : 'white'}\">\n      \n    <text x=\"400\" y=\"125\" style=\"text-anchor:middle\"  font-weight=\"bold\" font-size=\"80\" font-family=\"Arial\">{{(msg.payload||0)? \"RESUME\" : \"FREEZE\"}} </text>\n    </g>\n  </g>\n</svg>\n\n\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":159.00007247924805,"y":343.11107635498047,"wires":[["8bc8320a.4bc6e"]]},{"id":"f931336e.3b9b9","type":"function","z":"3ba12bb5.481364","name":"Clock Date/Time Value Storage","func":"var clDate = new Date();\nclDate = flow.get(\"fastClockDate\");\nif (clDate === undefined) \n{\n    clDate = new Date();\n    flow.set(\"fastClockDate\", clDate);\n}\n\nif (msg.date !== undefined)\n{\n    newDate = new Date(parseInt(msg.date));\n    newDate.setHours(clDate.getHours());\n    newDate.setMinutes(clDate.getMinutes());\n    clDate = newDate;\n}\nif (msg.hours !== undefined)\n    clDate.setHours(msg.hours);\nif (msg.minutes !== undefined)\n    clDate.setMinutes(msg.minutes);\n\nflow.set(\"fastClockDate\", clDate);\nmsg = {payload: clDate};\nreturn msg;","outputs":1,"noerr":0,"x":542.5713348388672,"y":163.41026878356934,"wires":[["5fb10d32.b4aca4","c3a41672.5941f8"]]},{"id":"9f1b9e46.b3f77","type":"ui_date_picker","z":"3ba12bb5.481364","name":"Date Picker","label":"Date","group":"ce6838aa.618ae8","order":1,"width":"0","height":"0","passthru":true,"topic":"","x":137.8807144165039,"y":128.57459259033203,"wires":[["ee5699e6.9452e8"]]},{"id":"354bc6e5.b6960a","type":"ui_numeric","z":"3ba12bb5.481364","name":"Clock Hours","label":"Hrs.:","group":"ce6838aa.618ae8","order":2,"width":"3","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"23","step":1,"x":134.7935791015625,"y":165.63250923156738,"wires":[["ae2be3db.def29"]]},{"id":"30a2c54b.99bf1a","type":"ui_numeric","z":"3ba12bb5.481364","name":"Clock Mins","label":"Mins.:","group":"ce6838aa.618ae8","order":3,"width":"3","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"59","step":1,"x":133.66667938232422,"y":202.99994087219238,"wires":[["32b846c7.0dc5da"]]},{"id":"ee5699e6.9452e8","type":"function","z":"3ba12bb5.481364","name":"","func":"msg.date=msg.payload;\nmsg.payload=undefined;\nreturn msg;","outputs":1,"noerr":0,"x":292.2222557067871,"y":128.3332872390747,"wires":[["f931336e.3b9b9"]]},{"id":"ae2be3db.def29","type":"function","z":"3ba12bb5.481364","name":"","func":"msg.hours=msg.payload;\nmsg.payload=undefined;\nreturn msg;","outputs":1,"noerr":0,"x":292.5555725097656,"y":164.77769470214844,"wires":[["f931336e.3b9b9"]]},{"id":"32b846c7.0dc5da","type":"function","z":"3ba12bb5.481364","name":"","func":"msg.minutes=msg.payload;\nmsg.payload=undefined;\nreturn msg;","outputs":1,"noerr":0,"x":291.44446563720703,"y":202.33331489562988,"wires":[["f931336e.3b9b9"]]},{"id":"c3a41672.5941f8","type":"debug","z":"3ba12bb5.481364","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":925.888916015625,"y":81.66658782958984,"wires":[]},{"id":"bb52f89f.a03ce8","type":"mqtt out","z":"3ba12bb5.481364","name":"","topic":"lnIn","qos":"1","retain":"","broker":"5bc7cc44.39f4b4","x":1185.99995803833,"y":470.22211360931396,"wires":[]},{"id":"5fb10d32.b4aca4","type":"function","z":"3ba12bb5.481364","name":"","func":"msg.content=msg.payload;\nmsg.payload=undefined;\nreturn msg;","outputs":1,"noerr":0,"x":698.4444580078125,"y":327.33331298828125,"wires":[["6eda2f7d.edd0f"]]},{"id":"c8a22a67.570e38","type":"ui_template","z":"3ba12bb5.481364","group":"f4d8a839.c19718","name":"STOP Button","order":2,"width":"0","height":"0","format":"<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#FFFFFF\" ng-click=\"send({payload: msg.payload })\"> \n\n\n<svg  width=\"260px\" height=\"90px\" version=\"1.1\" viewBox=\"0 0 800 200\">\n <g id=\"Button_Long\">\n  \n  <rect fill=\"#FFFFFF\" width=\"800\" height=\"200\"/>\n  <g ng-style=\"{fill: (msg.payload || 0) ? 'lime' : 'red'}\">\n    <rect width=\"800\" height=\"200\" rx=\"80\" ry=\"80\"/>\n  </g>\n  \n  <g ng-style=\"{fill: (msg.payload || 0) ? 'lime' : 'red'}\">\n    <rect x=\"11\" y=\"10\" width=\"778\" height=\"180\" rx=\"90\" ry=\"90\"/>\n  </g>\n  <g ng-style=\"{fill: (msg.payload || 0) ? 'black' : 'white'}\">\n      \n    <text x=\"400\" y=\"125\" style=\"text-anchor:middle\"  font-weight=\"bold\" font-size=\"80\" font-family=\"Arial\">{{(msg.payload||0)? \"RESUME\" : \"FREEZE\"}} </text>\n    </g>\n  </g>\n</svg>\n\n\n</md-button>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":158.01734924316406,"y":389.0104064941406,"wires":[["8bc8320a.4bc6e"]]},{"id":"5bc7cc44.39f4b4","type":"mqtt-broker","z":"","name":"","broker":"192.168.87.52","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ce6838aa.618ae8","type":"ui_group","z":"","name":"FastClock Setup","tab":"fdba4392.641a","order":2,"disp":true,"width":"6","collapse":false},{"id":"6e241d37.cc5bd4","type":"ui_group","z":"","name":"Fast Clock","tab":"a197e5cf.e4c638","order":2,"disp":true,"width":"6","collapse":false},{"id":"f4d8a839.c19718","type":"ui_group","z":"","name":"Trainstation Clock","tab":"3caa44aa.e516ac","disp":true,"width":"12","collapse":false},{"id":"fdba4392.641a","type":"ui_tab","z":"","name":"LocoNet FastClock Editor","icon":"dashboard","order":5},{"id":"a197e5cf.e4c638","type":"ui_tab","z":"","name":"FastClock","icon":"dashboard","order":3},{"id":"3caa44aa.e516ac","type":"ui_tab","z":"","name":"Clock","icon":"dashboard","order":4}]
